<div class="main-content">

<div class="top-bar">
    <div class="info">
        <h3> Welcome {{data.lastName}} {{data.firstName}}</h3>
    </div>
    <div class="notifications">
        <i class="fas fa-bell" style="color: #6F42C1;"></i>
    </div>
    <img src="assets/av1.png" alt="" class="profile-pic">

        

</div>


    <div class="profile-header">
        <img src="assets/land.jpg" alt="Profile Image">
    </div>
    <div class="profile-info">
        
        <img class="profile-picture" src="../../assets/av1" alt="User Image">
    
        <h1>{{data.lastName}} {{data.firstName}}</h1>
        <div class="info-container">
            <p>Email : <span class="follower-count">{{data.email}}</span></p>
            <p>Number of Posts: <span class="post-count">{{numberOfPosts}}</span></p>
      
        </div>
        
        
        <p class="bio">{{data.bio}}</p>
    </div>

</div>
