<div class="dashboard">
    <div class="sidebar">
        <div class="sidebar-section">
            <a routerLink="/profile"><i class="fas fa-user"></i> Profile</a>
            <a href="#"><i class="fas fa-search"></i> Search</a>
            <a  routerLink="/myposts"><i class="fas fa-file-alt"></i> My Posts</a>
            <a href="#" ><i class="fas fa-edit"></i> New Post</a>
            <a routerLink="/likedposts"><i class="fas fa-thumbs-up"></i> Liked Posts</a>
        </div>
        <div class="sidebar-section" style="margin-top: 10px;">
            <a  (click)="logOut()" ><i class="fas fa-sign-out-alt" ></i> Logout</a>
            <!-- <a href="#"><i class="fas fa-cog"></i> Settings</a> -->
        </div>
    </div>
    <div class="main-content">
        <div class="top-bar">
            <div class="profile-info">
                <h3> Welcome {{fullNameUser}}</h3>
            </div>
            <div class="notifications">
                <i class="fas fa-bell" style="color: #6F42C1;"></i>
            </div>
            <img src="assets/av1.png" alt="" class="profile-pic">

                

        </div>
        <div class="featured-posts">
            <div class="post-box" >
                <textarea  placeholder="What's happening?"  [(ngModel)]="tweetContent" (input)="extractTags()"></textarea>
                <button (click)="addTweet()" class="post-button" >Post</button>    
            </div>
            <div class="thread-post"  *ngFor="let tweet of tweets">
                <div class="user-info">
                    <img src="assets/av1.png" alt="Profile Picture" class="profile-picture">
                <div class="username">Jiu Kim</div>
                </div>
                <div class="post-content">
                    {{ tweet.tweetContent }}
                  <div class="tags" style="color: rgb(54, 116, 202);" *ngFor="let tag of tweet.tags">
                    #{{ tag }}
                  </div>
                </div>
                <div class="actions">
                    <button class="like-button">Like  <span> 1 </span></button> 
                    <button class="comment-button">Comment</button>
                </div>
        </div>
            
        </div>
    </div>

